<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  {{title}}
  <app-hello></app-hello>

  <br>
  <app-progress-bar
  [progress]="50"
  [setBackground]="'#9e9e9e'"
  [setprogressColor]="'#2e8b57'"
>
</app-progress-bar>

<br>
<br>

<app-author-list></app-author-list>

<br>
<br>
<br>
<p>Your name: {{ name }}</p>
<br>
<input type="text" [ngModel]="name" (ngModelChange)="name = $event" />
<br>
<br>
<!-- <app-toggle [(checked)]="checked"></app-toggle> -->

<button (click)="toggleInside()">Toggle inside class</button>
<br />
<br />

<app-toggle #toggleComp></app-toggle>

<br>
<br>
<!-- app.component.html -->
<flex-container>
  <button>Submit</button>
  <button>Cancel</button>
</flex-container>

<flex-container flexDirection="column">
  <input type="email" />
  <input type="password" />
</flex-container>

<br>
<br>
<br>
<app-toggle [(checked)]="questions.question1">
  <span>Question 1</span>
</app-toggle>

<app-toggle [(checked)]="questions.question2">
  <span>Question 2</span>
</app-toggle>

<br>
<br>
<br>
<app-toggle [(checked)]="questions.question1">
  <h3 class="toogle-header">Header 1</h3>
  <label>Question 1</label>
  <span>Some paragraph</span>
</app-toggle>

<app-toggle [(checked)]="questions.question1">
  <h3 class="toogle-header">Header 1</h3>
  <label ngProjectAs="app-label">Question 1</label>
  <span>Some paragraph</span>
</app-toggle>

<br>
<br>
<br>

<app-example></app-example>

<br>
<br>
<br>

<app-tab-group [(tabActiveIndex)] ="currentIndex">
  <app-tab-panel title="First tab"> First tab content</app-tab-panel>
  <app-tab-panel title="Second tab"> Second tab content</app-tab-panel>
  <app-tab-panel title="Third tab"> Third tab content</app-tab-panel>
  <app-tab-panel title="Fourth tab"> Fourth tab content</app-tab-panel>
</app-tab-group>

<br>
<br>

<app-bs-tab-group [(tabActiveIndex)] ="currentIndex">
  <app-tab-panel title="First tab"> First tab content</app-tab-panel>
  <app-tab-panel title="Second tab"> Second tab content</app-tab-panel>
  <app-tab-panel title="Third tab"> Third tab content</app-tab-panel>
  <app-tab-panel title="Fourth tab"> Fourth tab content</app-tab-panel>
</app-bs-tab-group>


<br>
<br>
<app-bs-tab-group>
  <app-tab-panel title="Tab 1">
    <ng-template tabPanelContent>
      content tab 1
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 2">
    <ng-template tabPanelContent>
      content tab 2
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 3">
    <ng-template tabPanelContent>
      content tab 3
      <app-counter></app-counter>
    </ng-template>
  </app-tab-panel>
</app-bs-tab-group>

<br>
<br>
<br>
<p>{{currentDate | date}}</p>
<p>{{currentDate | date:"shortDate"}}</p>
<p>{{currentDate | date:"mediumDate"}}</p>
<p>{{currentDate | date:"fullDate"}}</p>
<p>{{currentDate | date:"yyyy/MM/dd"}}</p>

<p>{{addr | formatAddress}}</p>

<br>
Full user list:
<ul>
  <li *ngFor="let user of users"> {{user.name}} - {{user.age}}</li>
</ul>

<br>
Adult user list:
<ul>
  <li *ngFor="let user of users | adult"> {{user.name}} - {{user.age}}</li>
</ul>

<button (click)="addUser()">Add User</button>
 
<br>
<br>
<ul class="nav nav-pills card-header-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="detail">Detail</a>
  </li>
</ul>
<router-outlet></router-outlet>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<router-outlet />
